---
import type {knownTechnologySchema} from "./knownTechnologySchema.js";
import type zod from "zod";

export interface Props {
	knownTechnology: zod.infer<typeof knownTechnologySchema>;
	headingLevel: 1 | 2 | 3 | 4 | 5 | 6;
}

const {knownTechnology, headingLevel} = Astro.props;
---

<div class="techonology">
	<img src={knownTechnology.icon.filepath} class="techonology__icon" alt="" />
	<span class="technology__name-and-details">
		{
			headingLevel === 1 ? (
				<h1 class="technology__name-and-details__name">{knownTechnology.name}</h1>
			) : headingLevel === 2 ? (
				<h2 class="technology__name-and-details__name">{knownTechnology.name}</h2>
			) : headingLevel === 3 ? (
				<h3 class="technology__name-and-details__name">{knownTechnology.name}</h3>
			) : headingLevel === 4 ? (
				<h4 class="technology__name-and-details__name">{knownTechnology.name}</h4>
			) : headingLevel === 5 ? (
				<h5 class="technology__name-and-details__name">{knownTechnology.name}</h5>
			) : (
				<h6 class="technology__name-and-details__name">{knownTechnology.name}</h6>
			)
		}
		{(<p class="technology__name-and-details__details">{knownTechnology.details}</p>)}
	</span>
</div>

<style lang="scss">
	.technology__name-and-details {
		display: grid;
		grid-template-rows: auto auto;
		gap: 0.25rem;
	}
	.technology__name-and-details__name {
		display: block;
		font-size: 1.17em;
		margin-block-start: 0;
		margin-block-end: 0;
	}
	.techonology__icon {
		width: 100%;
		height: 100%;
	}
	.techonology {
		display: grid;
		grid-template-columns: 4rem 1fr;
		gap: 1rem;
	}
	.technology__name-and-details__details {
		margin-block-start: 0;
		margin-block-end: 0;
	}
</style>
