---
import type zod from "zod";
import type contentSchema from "./contentSchema.js";
import Separator from "./Separator.astro";
import ContactEntryA from "./ContactEntryA.astro";
import EducationEntryA from "./EducationEntryA.astro";
import KnownTechnology from "./KnownTechnology.astro";

export interface Props {
	content: zod.infer<typeof contentSchema>;
}

const {content} = Astro.props;
---

<div class="resume">
	<div class="resume__side resume__side--top">
		<section class="resume__introduction">
			<h1 class="resume__introduction__names">
				{content.person.firstName}
				{content.person.lastName}
			</h1>
			<p class="resume__introduction__description">{content.person.description}</p>
		</section>
		<Separator orientation="vertical" size="large" />
		<section class="resume__contact">
			<ul class="resume__contact__list">
				<li><ContactEntryA contactEntry={content.person.contact.phoneNumber} /></li>
				<li><ContactEntryA contactEntry={content.person.contact.emailAddress} /></li>
				<li><ContactEntryA contactEntry={content.person.contact.location} /></li>
				<li><ContactEntryA contactEntry={content.person.contact.linkedin} /></li>
				<li><ContactEntryA contactEntry={content.person.contact.github} /></li>
			</ul>
			<br />
			<p class="resume__contact__gdpr-clause">{content.gdprClause}</p>
		</section>
	</div>
	<Separator orientation="horizontal" size="large" />
	<div class="resume__side resume__side--bottom">
		<section class="resume__additional-info">
			<section class="resume__education">
				<h2 class="resume__section__heading">Education</h2>
				<Separator orientation="horizontal" size="medium" />
				<ul class="resume__education__list">
					{
						content.person.education.map((educationEntry) => (
							<li>
								<EducationEntryA educationEntry={educationEntry} />
								<Separator orientation="horizontal" size="medium" />
							</li>
						))
					}
				</ul>
			</section>
		</section>
		<Separator orientation="vertical" size="large" />
		<section class="resume__known-technologies">
			<h2 class="resume__section__heading">Known Technologies</h2>
			<Separator orientation="horizontal" size="medium" />
			<ul class="resume__known-technologies__ul">
				{
					content.person.knownTechnologies.map((knownTechnology) => (
						<li>
							<KnownTechnology knownTechnology={knownTechnology} headingLevel={3} />
							<Separator orientation="horizontal" size="small" />
						</li>
					))
				}
			</ul>
		</section>
	</div>

	<style lang="scss">
		.resume__side {
			&--top {
				display: grid;
				grid-template-columns: auto auto 1fr;
			}
			&--bottom {
				display: grid;
				grid-template-columns: 14rem auto 1fr;
			}
		}
		.resume__section__heading {
			font-size: 1.625rem;
			$margin-block: 0.25rem;
			margin-block-start: $margin-block;
			margin-block-end: $margin-block;
		}
		.resume__contact__gdpr-clause {
			text-align: center;
			$margin-block: 0.25rem;
			margin-block-start: $margin-block;
			margin-block-end: $margin-block;

			font-size: 0.75rem;
		}
		.resume__introduction__names {
			font-size: 2rem;
			$margin-block: 0.25rem;
			margin-block-start: $margin-block;
			margin-block-end: $margin-block;
		}
		.resume__introduction__description {
			$margin-block: 0.25rem;
			margin-block-start: $margin-block;
			margin-block-end: $margin-block;
		}
		.resume {
			display: grid;
			grid-template-rows: 1fr auto;

			padding: 1rem;
		}

		.resume__contact__list {
			list-style: none;
			margin-block-start: 0;
			margin-block-end: 0;
			padding-inline-start: 0;
		}

		.resume__education__list {
			list-style: none;
			margin-block-start: 0;
			margin-block-end: 0;
			padding-inline-start: 0;
		}

		.resume__known-technologies__ul {
			list-style: none;
			margin-block-start: 0;
			margin-block-end: 0;
			padding-inline-start: 0;
		}
	</style>
</div>
