---
import type {workHistorySchema} from "./workHistorySchema.js";
import type zod from "zod";

export interface Props {
	workHistory: zod.infer<typeof workHistorySchema>;
}

const {workHistory} = Astro.props;
---

<a class="work-history-a" href={workHistory.employer.url}>
	<span class="work-history-a__top">
		<img
			class="work-history-a__top__employer-logo"
			src={workHistory.employer.logo.filePath}
			alt=""
		/>
		<span class="work-history-a__top__right">
			<span class="work-history-a__top__right__employer-name">{workHistory.employer.name}</span>
			<span class="work-history-a__top__right__period">
				{workHistory.period.start} – {workHistory.period.end}
			</span>
			<span>{workHistory.title}</span>
		</span>
	</span>
	<ul class="work-history-a__key-points-ul">
		{workHistory.keyPoints.map((keyPoint) => <li>{keyPoint}</li>)}
	</ul>
</a>

<style lang="scss">
	.work-history-a {
		display: flex;
		flex-direction: column;
		text-decoration: none;
		color: black;
	}
	.work-history-a__top {
		display: grid;
		grid-template-columns: auto 1fr;
	}
	.work-history-a__top__right {
		display: flex;
		flex-direction: column;
	}
	.work-history-a__top__employer-logo {
		width: 3rem;
		height: 3rem;
	}
	.work-history-a__top__right__employer-name {
		font-weight: bold;
	}
	.work-history-a__key-points-ul {
		list-style-type: disc;
		padding-inline-start: 1.5rem;
	}
</style>
