---
import type {contactSchema} from "./contactSchema.js";
import type zod from "zod";
export interface Props {
	contact: zod.infer<typeof contactSchema>;
}

const {datum, icon, href} = Astro.props.contact;
---

<a class="contact-a" href={href}>
	<img src={icon.filepath} class="contact-a__icon" alt={icon.alt} />
	<span class="contact-a__datum">{datum}</span>
</a>

<style lang="scss">
	.contact-a {
		display: flex;
		align-items: center;
		gap: 0.25rem;

		text-decoration: none;
		color: black;
	}
	.contact-a__icon {
		width: 1rem;
		height: 1rem;
	}
</style>
