---
import type {educationSchema} from "./educationSchema.js";
import type zod from "zod";

export interface Props {
	education: zod.infer<typeof educationSchema>;
}

const {education} = Astro.props;
---

<span class="education-a">
	<a class="education-a__top" href={education.href}>
		<img class="education-a__top__employer-logo" src={education.icon.filePath} alt="" />
		<span class="education-a__top__right">
			<span class="education-a__top__right__employer-name">{education.name}</span>
			<span class="education-a__top__right__period">
				{education.period.start} – {education.period.end}
			</span>
			<span>{education.description}</span>
		</span>
	</a>
	<ul class="education-a__key-points-ul">
		{
			education.additionalInformations.map((additionalInformation) => (
				<li>{additionalInformation}</li>
			))
		}
	</ul>
</span>

<style lang="scss">
	.education-a {
		display: flex;
		flex-direction: column;
	}
	.education-a__top {
		display: grid;
		grid-template-columns: auto 1fr;
		text-decoration: none;
		color: black;
	}
	.education-a__top__right {
		display: flex;
		flex-direction: column;
	}
	.education-a__top__employer-logo {
		width: 3rem;
		height: 3rem;
	}
	.education-a__top__right__employer-name {
		font-weight: bold;
	}
	.education-a__key-points-ul {
		list-style-type: disc;
		padding-inline-start: 1.5rem;
	}
</style>
