---
import type {educationEntrySchema} from "../contentSchema.js";
import type Zod from "zod";
export interface Props {
	educationEntry: Zod.infer<typeof educationEntrySchema>;
}

const {name, period, description, href, icon} = Astro.props.educationEntry;
---

<a class="education-entry-a" href={href}>
	<img class="education-entry-a__icon" src={icon.filepath} alt="" />
	<span class="education-entry-a__text">
		<span class="education-entry-a__text__name">{name}</span>
		<span class="education-entry-a__text__period">{period.start} - {period.end}</span>
		<span class="education-entry-a__text__description">{description}</span>
	</span>
</a>

<style lang="scss">
	.education-entry-a {
		display: flex;
		gap: 0.25rem;

		text-decoration: none;
		color: black;
	}
	.education-entry-a__text {
		display: flex;
		flex-direction: column;
	}
	.education-entry-a__text__name {
		font-weight: bold;
	}
	.education-entry-a__icon {
		width: 3rem;
		height: 3rem;
	}
</style>
