---
import type Zod from "zod";
import type contentSchema from "../contentSchema.js";
import Footer from "./Footer.astro";
import Separator from "./layout/Separator.astro";

export interface Props {
	content: Zod.infer<typeof contentSchema>;
}

const {content} = Astro.props;
---

<div class="resume">
	<div class="flex flex--row flex--size-large">
		<div class="resume__introduction">
			<h1>{content.person.firstName} {content.person.lastName}</h1>
			<p>{content.person.description}</p>
		</div>
		<Separator direction="row" size="large" />
		<div class="resume__contact">
			<ul class="resume__contact__list"></ul>
			<Footer>{content.gdprClause}</Footer>
		</div>
	</div>
</div>

<style lang="scss">
	.resume {
		display: grid;
		grid-template-rows: 1fr auto;

		padding: 1rem;
	}

	.resume__contact__list {
		list-style: none;
		margin-block-start: 0;
		margin-block-end: 0;
		padding-inline-start: 0;
	}

	.flex {
		display: flex;
		&.flex--row {
			flex-direction: row;
		}

		&.flex--column {
			flex-direction: column;
		}

		&.flex--size-large {
			gap: 1rem;
		}

		&.flex--size-medium {
			gap: 0.5rem;
		}
	}
</style>
